<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age Verification</title>
    <link rel='stylesheet' href='/static/styles/confirmation.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Merienda'>
    
</head>
<body>
    <div class="blur">a</div>
    <div class="confirmation">
        <h1>By Continuing, you consent that you are of at least 21 years of age:</h1>
        <a href="/login"><button type="button" class="yes" method>Yes</button></a>
        <br>
        <button class="no" onclick="window.location.href = 'https://www.google.com';">No (Leave Site)</button>
    </div>
</body>
</html>

