<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Merienda'>
    <link rel="stylesheet" href="/static/styles/login.css">
    <title>Login Test</title>
</head>
<body>
    <div class="login-background">
        <div class="login-background-mask">
            <div class="login-top-container">
                <div class="login-middle-image">
                    <div class="login-middle-mask">
                        <div class="login-header">Login</div>
                        <form class="login-form" action="#" method="post">
                            <input type="text" name="email" placeholder="Email" id="email" required>
                            <input type="password" name="password" placeholder="Password" id="password" required>
                            <button type="submit">Login</button>
                        </form>
                        <div class="register"><a href="/register">Register</a></div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
